<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBPIh6GzvcQFtq9FKeqaY4TR1IPHVS5Rn4</string>
	<key>GCM_SENDER_ID</key>
	<string>504885625160</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.senaecelik</string>
	<key>PROJECT_ID</key>
	<string>myportfolio-49a35</string>
	<key>STORAGE_BUCKET</key>
	<string>myportfolio-49a35.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:504885625160:ios:cb8f5c0f004ed368dd337d</string>
</dict>
</plist>